body{
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: black;
    text-align: center;
}
.assign{
    display: flex;
    margin: 10px;
    padding: 10px;
    background: tan;
}
.assign img{
    width: 200px;
    padding: 10px;
}
a {
    text-decoration: none; /* remove underlining on anchor tags */
    color: midnightblue; /* pick the color you want */
   }
   .assign img {
    padding: 10px; /* change this from margin to padding */
    border: 2px solid midnightblue; /* try dashed, dotted */
   }
